@import "tailwindcss";

body {
	background-color: #111;
	color: #FFF;
	font-family: 'Titillium Web', sans-serif;
}


*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background-color: #111;
	overflow-x: clip;
}

*::-webkit-scrollbar-thumb {
	background-color: #BF9037 !important;
	border-radius: 20px;
	border: 5px solid #00041A;
}

.iv-btn {
	@apply block max-w-[400px] mx-auto md:px-[120px] py-[20px] text-center rounded-full bg-linear-90 from-[#BA8C36] to-[#F4B33A] text-white font-bold;
}