@import "tailwindcss";

body {
	background-color: #111;
	color: #FFF;
	font-family: 'Titillium Web', sans-serif;
}

.iv-btn {
	@apply block md:w-fit mx-auto md:px-[120px] py-[20px] text-center rounded-full bg-linear-90 from-[#BA8C36] to-[#F4B33A] text-white font-bold;
}