@import "tailwindcss";

body {
	background-color: #151005;
	color: #FFF;
	font-family: 'Titillium Web', sans-serif;
}

* {
	scroll-behavior: smooth;
}


*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background-color: #151005;
	overflow-x: clip;
}

*::-webkit-scrollbar-thumb {
	background-color: #BF9037 !important;
	border-radius: 20px;
	border: 5px solid #151005;
}

.iv-btn {
	@apply block max-w-[400px] mx-auto md:px-[120px] py-[20px] text-center rounded-full bg-linear-90 from-[#F3B23A] to-[#F3B23A] text-white font-bold;
}

.qf-card {
	@apply w-full text-left rounded-xl border border-white/10 bg-white/5 hover:bg-white/10 transition p-4 cursor-pointer;
}

.qf-card[data-selected="true"] {
	@apply bg-white text-[#111] border-white;
}

.qf-grid {
	@apply grid grid-cols-1 md:grid-cols-2 gap-3;
}