---
import Calendly from '../components/Calendly.astro';
import Copy from '../components/Copy.astro';
import Faqs from '../components/Faqs.astro';
import Hero from '../components/Hero.astro';
import Testimonials from '../components/Testimonials.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Hero />
	<Testimonials />
	<Copy />
	<Calendly />
	<Faqs />
	<p class="py-8 text-white/80 text-center px-4">© Ivan Dacharry 2025. Todos los derechos reservados.</p>
</Layout>
