---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section class="py-[60px] md:py-[90px] relative bg-[#111] overflow-clip">
		<div class="tcp-container relative">
			<h5
				class="text-white text-balance font-semibold text-center text-[16px] md:text-[18px] mb-4 md:mb-4"
			>
				Ya estas un paso más cerca de poder Equilibrar y Armonizar cualquier tipo de Espacios.
			</h5>
			<h1
				class="text-white font-bold text-[22px] leading-[120%] md:text-[34px] text-center max-w-[1200px] mx-auto mb-8 md:text-balance"
			>
				¡Felicidades! Vas a recibir un correo y WhatsApp con toda la
				información para conectarte a llamada que agendaste.
			</h1>
			<p
				class="text-center max-w-[800px] text-white mx-auto md:text-[20px]"
			>
				Mi equipo se va a contactar vía Whatsapp para confirmar tu
				asistencia y acompañarte en este proceso de transformación junto
				a nosotros.
				<br /><br />
				Por favor, asegurate de poder asistir a la reunión y estar en un
				espacio cómodo para dedicarle la atención que merece!
				<br /><br />
				(En caso de no poder avisar con anticipación para no quitarle lugar
				a otra persona).
				<br /><br />
				Abrazo, Ivan.
			</p>
			<p class="text-center mt-8 text-white/80 max-w-[500px] mx-auto">
				(En caso de no poder asistir por favor avisar con anticipación
				para no quitarle lugar a otra persona).
			</p>
			<img
				class="mx-auto w-[250px] mix-blend-screen mt-[80px]"
				src="/images/vastu-shastra.webp"
				alt="Ivan Dacharry"
			/>
			<p
				class="text-white/80 text-center mt-8 text-[14px] md:text-[16px]"
			>
				© Ivan Dacharry 2025. Todos los derechos reservados.
			</p>
		</div>
	</section>
	<script is:inline>
		window.onload = () => {
			fbq('track', 'CompleteRegistration');
		}
	</script>
</Layout>
