<div
	class="mt-4 relative flex flex-wrap-reverse justify-center gap-4 md:gap-8 px-4"
>
	<!-- <div class="size-[880px] top-[calc(50%-440px)] left-[calc(50%-440px)] rounded-full bg-[#87806B] absolute blur-[80px] opacity-50 md:opacity-100 md:blur-[300px]"></div> -->
	<div class="relative z-50 w-full">
		<a href="#calendly" class="iv-btn md:w-[400px] w-full mb-2 relative"
			>Agendar mi consulta »</a
		>
	</div>
</div>
