<section class="py-[80px] px-4 bg-[#87806B]" id="calendly">
	<div class="max-w-[600px] mx-auto">
		<h2 class="text-[24px] text-center md:text-[32px] leading-[120%] md:leading-[110%] font-bold text-white mb-4">
			Agenda una llamada y descubri como este maravilloso mundo te puede ayudar profesional y personalmente
		</h2>
		<p class="text-center">¡Aprovecha el precio especial de este mes!</p>
	</div>
</section>