<section class="py-[80px] px-4 bg-[#87806B]" id="calendly">
	<div class="max-w-[600px] mx-auto">
		<h2 class="text-[24px] text-center md:text-[32px] leading-[120%] md:leading-[110%] font-bold text-white mb-4">
			Agenda una llamada y descubri como este maravilloso mundo te puede ayudar profesional y personalmente
		</h2>
		<p class="text-center">¡Aprovecha el precio especial de este mes!</p>
		<!-- Calendly inline widget begin -->
		<div class="calendly-inline-widget mt-8" data-url="https://calendly.com/dacharryi/consulta-online-formacion-vastu-shastra" style="min-width:320px;height:700px;"></div>
		<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
		<!-- Calendly inline widget end -->
	</div>
</section>