<section class="py-[80px] px-4 relative overflow-clip">
	<div
		class="size-[880px] rounded-full bg-[#87806B] absolute blur-[300px] -right-[440px] -top-[440px]"
	>
	</div>
	<div class="max-w-[650px] mx-auto relative">
		<h2 class="text-[32px] font-bold text-white mb-4">
			¿Sentís que hay algo que no fluye bien en los espacios… pero no
			sabés qué es?
		</h2>
		<p>
			<strong>No sos el único.</strong><br /> Muchos diseñadores, arquitectos
			y profesionales del mundo holístico lo intuyen.<br /> Perciben que “algo”
			no está bien…<br />
			<strong
				>Pero no saben leer el Flujo de Energía en un Espacio.</strong
			><br /> Mucho menos corregirlo.<br /><br />

			Ahí es donde entra el <strong>Vastu Shastra</strong>.<br /> Una ciencia
			ancestral, sí, pero <strong>100% aplicable hoy</strong>.<br />
			<strong
				>No es decoración. No es feng shui. Y no es una “Filosofía
				Espiritual”.</strong
			><br /><br />

			Es una <strong
				>Ciencia Ancestral para armonizar la Energía con grandes
				Resultados</strong
			>.<br /> Aprendés a ver lo que la mayoría ignora.<br />
			<strong>Y lo mejor: aprendés a corregirlo.</strong><br /><br />

			<strong>En esta Formación vas a descubrir:</strong><br />

			Cómo detectar desequilibrios energéticos en casas, oficinas,
			negocios… y qué impacto real tienen en la vida de quienes habitan
			esos espacios.<br />

			Cómo armonizar ambientes (presencial o a distancia) y convertir
			cualquier espacio en un aliado del bienestar.<br />

			Cómo ofrecer esto como servicio profesional, con un paso a paso
			claro y aplicable desde el día uno.<br /><br />

			<strong>Ya vamos por la 3° edición.</strong><br /> Y los que se formaron,
			hoy aplican esto con clientes reales.<br />
			<strong>Con cambios reales.</strong><br /><br />

			Me formé con el mismísimo <strong>Michael Mastro</strong> en el American
			Institute of Vastu.<br /> Y ahora te traigo todo eso… en versión <strong
				>práctica, aterrizada y potente</strong
			>.<br /><br />

			<strong
				>Si sos arquitecto, diseñador o del mundo holístico…<br /> Y querés
				sumar una herramienta concreta, profunda y transformadora…</strong
			><br /><br />

			<strong>Esta Formación te va a encantar.</strong><br /><br />

			¿Te interesa?
		</p>
	</div>
</section>
