<section class="py-[80px] px-4 relative overflow-clip">
	<div
		class="size-[880px] rounded-full bg-[#87806B] absolute blur-[300px] -right-[440px] -top-[440px]"
	>
	</div>
	<div class="max-w-[650px] mx-auto relative">
		<h2
			class="text-[24px] md:text-[32px] leading-[120%] md:leading-[110%] font-bold text-white mb-4"
		>
			Si llegaste hasta acá, es porque entendés que los Espacios que
			habitamos son mucho más que cuatro paredes.
		</h2>
		<p class="text-[18px]">
			Porque sabés que ahí adentro hay <strong>Energía</strong>.<br />
			Y que cómo nos sentimos dentro de un lugar no depende solo de la materia…
			sino de su Energía.<br /><br />

			Muchos arquitectos, diseñadores y profesionales del mundo holístico
			lo intuyen:<br />
			hay algo en el Espacio que nos llena de vitalidad… o que nos drena.<br
			/>
			<strong
				>Pero no siempre saben verlo. Y mucho menos, cómo transformarlo.</strong
			><br /><br />

			Ahí es donde entra el <strong>Vastu Shastra</strong>.<br />
			Una Ciencia Ancestral, viva y actual, que te enseña a leer el flujo invisible
			de la Energía.<br />
			A entender eso que sentís pero que no podés explicar…<br />
			<strong>para ordenarlo y que todo vuelva a fluir.</strong><br /><br
			/>

			Es la ciencia que explica por qué nos sentimos bien en contacto con
			la Naturaleza…<br />
			y estresados en medio de la ciudad.<br />
			Es la <strong>Arquitectura de la Naturaleza</strong> aplicada a la vida
			real.<br /><br />

			Una herramienta capaz de:<br />
			• Revelarte lo que nadie ve en un plano.<br />
			• Transformar espacios en aliados del bienestar y la abundancia.<br
			/>
			• Conectar con las leyes naturales para devolver fuerza y equilibrio
			a cada rincón… de tus espacios y de tu vida.<br /><br />

			<strong>En esta formación vas a aprender a:</strong><br />
			• Detectar desequilibrios energéticos y entender su impacto real en la
			vida de las personas.<br />
			• Armonizar cualquier espacio para que se convierta en un motor de bienestar
			y vitalidad.<br />
			• Integrar esta ciencia a tu profesión para sumar valor, diferenciación
			y profundidad a tus proyectos.<br />
			• Aplicar un método claro y práctico que vas a poder usar desde el día
			uno.<br /><br />

			Cuando ordenás la Energía en un Espacio, la vida empieza a ordenarse
			sola.<br />
			El estrés desaparece. La creatividad se despierta. Nacen nuevas oportunidades.<br
			/><br />

			Traigo esta enseñanza aterrizada, práctica y transformadora para que
			vos también la tengas.<br /><br />

			<strong
				>Si trabajás en diseño, arquitectura o bienestar…<br />
				y querés una herramienta profunda, concreta y alineada con la Naturaleza,<br
				/>
				esta formación puede cambiar no solo tu manera de trabajar,<br
				/>
				sino también tu manera de vivir.</strong
			><br /><br />

			La Energía siempre estuvo ahí.<br />
			<strong
				>Este es el momento de aprender a leerla… y a dirigirla.</strong
			>
		</p>
		<div class="mt-8 relative flex flex-wrap-reverse justify-center gap-4 md:gap-8 px-4">
			<div class="relative z-50 w-full">
				<a href="#calendly" class="iv-btn md:w-[400px] w-full mb-2 relative">Agendar llamada »</a>
				<p class="text-center font-semibold text-[16px] relative">¡Resolvemos tus dudas sin compromiso!</p>
			</div>
			<div class="relative z-50 w-full">
				<a href="https://onei.la/yqo" class="iv-btn md:w-[400px] w-full mb-2 relative">Comprar »</a>
			</div>
		</div>

		<div class="relative z-50 mt-10">
			<a class="block w-fit mx-auto underline text-white text-center" target="_blank" href="/programa/formacion-vastu-shastra.pdf">Hace clic acá para ver el Programa</a>
		</div>
	</div>
</section>
