---
import VideoEmbed from "./VideoEmbed.astro";
---

<section class="py-[40px] md:py-[60px] px-4 relative overflow-hidden">
	<div
		class="md:size-[880px] rounded-full bg-[#87806B] absolute blur-[90px] md:blur-[300px] md:-left-[440px] md:-top-[440px]"
	>
	</div>
	<div class="max-w-[890px] mx-auto relative">
		<img
			class="h-[50px] md:h-[60px] mx-auto mb-8"
			src="/images/vastu-shastra.webp"
			alt="Ivan Vastu Shastra"
		/>
		<h1
			class="text-[22px] md:text-[40px] text-center font-bold my-4 leading-[120%] md:leading-[110%]"
		>
			El Vastu Shastra es la Ciencia Ancestral que te enseña a crear desde la Energía…
			Porque no es lo mismo construir una Casa linda, que diseñar un <span class="text-[#C09648]">Espacio para ser Feliz.</span>
		</h1>
		<div
			class="w-full z-50 mt-8 border-4 border-[#87806B] rounded-lg overflow-hidden relative"
		>
			<p
				class="flex gap-2 items-center justify-center text-center p-2 md:p-4 md:text-[20px] font-bold bg-[#87806B]"
			>
				<svg
					class="size-[20px] fill-white"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 576 512"
					><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
					<path
						d="M301.1 34.8C312.6 40 320 51.4 320 64l0 384c0 12.6-7.4 24-18.9 29.2s-25 3.1-34.4-5.3L131.8 352 64 352c-35.3 0-64-28.7-64-64l0-64c0-35.3 28.7-64 64-64l67.8 0L266.7 40.1c9.4-8.4 22.9-10.4 34.4-5.3zM425 167l55 55 55-55c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-55 55 55 55c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-55-55-55 55c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l55-55-55-55c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0z"
					></path></svg
				>
				Clic para activar sonido
			</p>
			<div class="bg-gray-300 w-full aspect-video">
				<VideoEmbed />
			</div>
		</div>
		<ul
			class="flex gap-y-4 gap-x-8 flex-wrap md:justify-center mt-8 relative z-50 font-semibold"
		>
			<li class="flex items-center gap-4 text-white/90">
				<svg
					class="min-w-[22px]"
					width="20"
					height="18"
					viewBox="0 0 20 18"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M19.5815 0.50724C20.1395 1.18356 20.1395 2.2819 19.5815 2.95822L8.15422 16.8092C7.59625 17.4856 6.6901 17.4856 6.13213 16.8092L0.41848 9.88373C-0.139493 9.20741 -0.139493 8.10907 0.41848 7.43275C0.976454 6.75643 1.8826 6.75643 2.44058 7.43275L7.14541 13.1301L17.5639 0.50724C18.1219 -0.16908 19.028 -0.16908 19.586 0.50724H19.5815Z"
						fill="#C09648"></path>
				</svg>
				Descubrí cómo un bloqueo en la energía de tus Espacios, también bloquea
				tu Vida.
			</li>
			<li class="flex items-center gap-4 text-white/90">
				<svg
					class="min-w-[22px]"
					width="20"
					height="18"
					viewBox="0 0 20 18"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M19.5815 0.50724C20.1395 1.18356 20.1395 2.2819 19.5815 2.95822L8.15422 16.8092C7.59625 17.4856 6.6901 17.4856 6.13213 16.8092L0.41848 9.88373C-0.139493 9.20741 -0.139493 8.10907 0.41848 7.43275C0.976454 6.75643 1.8826 6.75643 2.44058 7.43275L7.14541 13.1301L17.5639 0.50724C18.1219 -0.16908 19.028 -0.16908 19.586 0.50724H19.5815Z"
						fill="#C09648"></path>
				</svg>
				Incorporá Herramientas sutiles para desbloquear la Energía y permitir
				que todo vuelva a fluir.
			</li>
			<li class="flex items-center gap-4 text-white/90">
				<svg
					class="min-w-[22px]"
					width="20"
					height="18"
					viewBox="0 0 20 18"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M19.5815 0.50724C20.1395 1.18356 20.1395 2.2819 19.5815 2.95822L8.15422 16.8092C7.59625 17.4856 6.6901 17.4856 6.13213 16.8092L0.41848 9.88373C-0.139493 9.20741 -0.139493 8.10907 0.41848 7.43275C0.976454 6.75643 1.8826 6.75643 2.44058 7.43275L7.14541 13.1301L17.5639 0.50724C18.1219 -0.16908 19.028 -0.16908 19.586 0.50724H19.5815Z"
						fill="#C09648"></path>
				</svg>
				Aprendé un Método paso a paso para armonizar cualquier Espacio, creando
				Salud y Bienestar.
			</li>
		</ul>

		<div class="mt-8 relative flex flex-wrap-reverse justify-center gap-4 md:gap-8">
			<div class="size-[880px] top-[calc(50%-440px)] left-[calc(50%-440px)] rounded-full bg-[#87806B] absolute blur-[80px] opacity-50 md:opacity-100 md:blur-[300px]"></div>
			<div class="relative z-50">
				<a href="#calendly" class="iv-btn w-[400px] max-w-full mb-2 relative">Agendar llamada »</a>
				<p class="text-center font-semibold text-[16px] relative">¡Resolvemos tus dudas sin compromiso!</p>
			</div>
			<div class="relative z-50">
				<a href="https://onei.la/yqo" class="iv-btn w-[400px] max-w-full mb-2 relative">Comprar »</a>
			</div>
		</div>
	</div>
</section>
