---
const path = Astro.url.pathname;
---

{
	path === "/" && (
		<div>
			<div
				id="vid_67ec5bedd8e267e662e59f91"
				style="position: relative; width: 100%; padding: 56.25% 0 0;"
			>
				{" "}
				<img
					id="thumb_67ec5bedd8e267e662e59f91"
					src="https://images.converteai.net/e6c08ca4-cb83-46ad-9564-d95d0d125100/players/67ec5bedd8e267e662e59f91/thumbnail.jpg"
					style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; display: block;"
					alt="thumbnail"
				/>{" "}
				<div
					id="backdrop_67ec5bedd8e267e662e59f91"
					style=" -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); position: absolute; top: 0; height: 100%; width: 100%; "
				/>{" "}
			</div>{" "}
			<script is:inline type="text/javascript" id="scr_67ec5bedd8e267e662e59f91">
				{" "}
				var s=document.createElement("script");
				s.src="https://scripts.converteai.net/e6c08ca4-cb83-46ad-9564-d95d0d125100/players/67ec5bedd8e267e662e59f91/player.js",
				s.async=!0,document.head.appendChild(s);{" "}
			</script>
		</div>
	)
}

{
	path.includes("b") && (
		<div>
			<div
				id="vid_67ec5bedd8e267e662e59f91"
				style="position: relative; width: 100%; padding: 56.25% 0 0;"
			>
				{" "}
				<img
					id="thumb_67ec5bedd8e267e662e59f91"
					src="https://images.converteai.net/e6c08ca4-cb83-46ad-9564-d95d0d125100/players/67ec5bedd8e267e662e59f91/thumbnail.jpg"
					style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; display: block;"
					alt="thumbnail"
				/>{" "}
				<div
					id="backdrop_67ec5bedd8e267e662e59f91"
					style=" -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); position: absolute; top: 0; height: 100%; width: 100%; "
				/>{" "}
			</div>{" "}
			<script is:inline type="text/javascript" id="scr_67ec5bedd8e267e662e59f91">
				{" "}
				var s=document.createElement("script");
				s.src="https://scripts.converteai.net/e6c08ca4-cb83-46ad-9564-d95d0d125100/players/67ec5bedd8e267e662e59f91/player.js",
				s.async=!0,document.head.appendChild(s);{" "}
			</script>
		</div>
	)
}

{
	path.includes("c") && (
		<div>
			<div
				id="vid_67ec5bedd8e267e662e59f91"
				style="position: relative; width: 100%; padding: 56.25% 0 0;"
			>
				{" "}
				<img
					id="thumb_67ec5bedd8e267e662e59f91"
					src="https://images.converteai.net/e6c08ca4-cb83-46ad-9564-d95d0d125100/players/67ec5bedd8e267e662e59f91/thumbnail.jpg"
					style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; display: block;"
					alt="thumbnail"
				/>{" "}
				<div
					id="backdrop_67ec5bedd8e267e662e59f91"
					style=" -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); position: absolute; top: 0; height: 100%; width: 100%; "
				/>{" "}
			</div>{" "}
			<script is:inline type="text/javascript" id="scr_67ec5bedd8e267e662e59f91">
				{" "}
				var s=document.createElement("script");
				s.src="https://scripts.converteai.net/e6c08ca4-cb83-46ad-9564-d95d0d125100/players/67ec5bedd8e267e662e59f91/player.js",
				s.async=!0,document.head.appendChild(s);{" "}
			</script>
		</div>
	)
}

{
	path.includes("d") && (
		<div>
			<div
				id="vid_67ec5bedd8e267e662e59f91"
				style="position: relative; width: 100%; padding: 56.25% 0 0;"
			>
				{" "}
				<img
					id="thumb_67ec5bedd8e267e662e59f91"
					src="https://images.converteai.net/e6c08ca4-cb83-46ad-9564-d95d0d125100/players/67ec5bedd8e267e662e59f91/thumbnail.jpg"
					style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; display: block;"
					alt="thumbnail"
				/>{" "}
				<div
					id="backdrop_67ec5bedd8e267e662e59f91"
					style=" -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); position: absolute; top: 0; height: 100%; width: 100%; "
				/>{" "}
			</div>{" "}
			<script is:inline type="text/javascript" id="scr_67ec5bedd8e267e662e59f91">
				{" "}
				var s=document.createElement("script");
				s.src="https://scripts.converteai.net/e6c08ca4-cb83-46ad-9564-d95d0d125100/players/67ec5bedd8e267e662e59f91/player.js",
				s.async=!0,document.head.appendChild(s);{" "}
			</script>
		</div>
	)
}